@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
	font-family: 'lato', 'monospace';
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 20px;
	padding: 20px;
}

.searched {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
	padding: 20px;
	border-radius: 50px;
	width: 70vw;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
}

.searched input {
	width: 60vw;
	border: none;
	font-size: 16px;
	border-left: 1px solid #f4f4f4;
}

.searched input:focus {
	outline: none;
}

.searched .fa-grip-lines:hover, .fa-magnifying-glass:hover {
	/* margin-left: 50px; */
	cursor: pointer;
}

.sect > *:first-child {
	display: flex;
	justify-content: space-between;
	margin: 20px;
	padding: 20px;
}

.cards > div {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
	padding: 20px;
	border-radius: 7px;
}

.cards > div p i {
	margin-right: 5px;
}

.cards2 > div p i {
	margin-right: 5px;
}

.sect .cards {
	display: flex;
	justify-content: space-between;
	margin: 20px 20px;
	gap: 10px;
	overflow-x: auto;
}

.sect .cards2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 20px 20px;
	gap: 10px;
}

.sect .cards2 > div {
	margin: auto;
}

.sect .cards2 img {
	width: 350px;
	/*height: ;*/
}

.sect img {
	width: 250px;
	height: 200px;
	object-fit: cover;
	border-radius: 15px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
}

.span {
	color: #ff7f50;
}

.span > span {
	color: #ccc;
}

a[href*='profile'] {
	color: #fff;
	text-decoration: none;
}

footer {
	display: flex;
	flex-direction: row;
	background-color: #000;
	min-height: 10vh;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

footer img {
	width: 100px;
	height: 100px;
}


.links {
	position: relative;
	left: 30px;
}

.links ul {
	position: absolute;
	background-color: #fff;
	color: #000;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .2);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-250px);
}

.links button {
	background-color: transparent;
	padding: 5px;
	color: #fff;
	border: none;
}

.links a {
	color: #000;
}

.links button:hover {
	cursor: pointer;
}

.links ul li {
	padding: 10px;
	list-style-type: circle;
	/* border: none; */
	color: #000;
	transition: border .2s ease-in-out;
	
}

/* .links ul li:last-of-type{
	border: none;
} */

.links ul li:hover {
	border-bottom: 2px solid #000;
	cursor: pointer;
	font-weight: bolder;
	transform: translateX(20px);
	transition: transform .3s ease-in-out;
}

.links > nav button:focus + ul {
	opacity: 1;
	pointer-events: all;
	/* animation: slidein .3s ease-in-out; */
}

@keyframes slidein {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}
