body {
	display: flex;
	height: 100vh;
	overflow: hidden;
	width: 100vw;
	align-items: center;
	justify-content: center;
	/*background: blur(10px);*/
}

form > *:first-child {
	display: block;
	font-size: 40px;
	text-align: center;
}

form .form-group {
	display: flex;
	flex-direction: column;
	padding: 30px;
	margin: 30px;
}

form input {
	width: 75vw;
	padding: 18px;
	margin: 10px;
	/*border-radius: 5px;*/
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #000;
	background-color: transparent;
}

form input:focus {
	outline: none;
}

form label {
	/*padding: 10px;*/
	margin-top: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}


input[type*='submit'] {
	border: none;
	font-weight: bold;
	font-size: 20px;
	background-color: #000;
	color: #fff;
	border-radius: 15px;
}
