@font-face {
	font-family: "sofia-sans";
	src: url("./Sofia sans/SofiaSans-VariableFont_wght.ttf");
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'sofia-sans', 'monospace';
	background-image: url("./relaxing.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	object-fit: fill;
	width: 100vw;
}

.section {
	position: absolute;
	bottom: 0;
	background-color: #fff;
	width: 100vw;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	animation: slideUp .8s ease-in-out ;
}

.section h1 {
	/* font-size: 85px; */
	text-align: center;
	/* padding-top: 10px; */
	margin-top: 10px;
	/*line-height: */
}

.section > p {
	color: #808080;
	font-size: 19px;
	margin-top: 5px;
	padding: 10px;
	margin-bottom: 0;
	text-align: center;
	line-height: 1.3em;
	
}

.login {
	display: flex;
	flex-direction: column;
	padding: 10px;
}

.login > a {
	font-family: inherit;
	margin: auto;
	padding: 30px;
	margin-top: 20px;
	background-color: #333;
	color: #fff;
	width: 65vw;
	text-align: center;
	border-radius: 15px;
	text-decoration: none;
	border: none;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
}

.login p {
	text-align: center;
	margin-top: 20px;
}

.login span a {
	color: #ff7f50;
	font-weight: bold;
	text-decoration: none;
}


@keyframes slideUp {
	from{
		transform: translateY(100%);
	}
	to{
		transform: translateY(0%);
	}
}