@font-face {
	font-family: "sofia-sans";
	src: url("./Sofia sans/SofiaSans-VariableFont_wght.ttf");
}

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'sofia-sans', 'monospace';
	background-image: url("./relaxing.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	object-fit: fill;
	width: 100vw;
}

.section {
	background-color: #fff;
	/*padding: 20px;*/
	width: 100%;
	position: absolute;
	bottom: 0;
	min-height: 675px;
	margin-top: 20px;
}

.section h1 {
	font-size: 85px;
	text-align: center;
	padding-top: 60px;
	/*line-height: */
}

.section > p {
	color: #808080;
	font-size: 30px;
	margin-top: 50px;
	text-align: center;
	line-height: 1.3em;
	
}

.login {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
}

.login > a {
	font-family: inherit;
	margin: auto;
	padding: 30px;
	margin-top: 20px;
	background-color: #000;
	color: #fff;
	width: 65vw;
	text-align: center;
	border-radius: 15px;
	text-decoration: none;
	border: none;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
}

.login p {
	text-align: center;
	margin-top: 20px;
}

.login span a {
	color: #ff7f50;
	font-weight: bold;
	text-decoration: none;
}
